@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");

[class*="__container"] {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px; /* 1170 + 15 + 15  */
  margin: 0 auto;
}
body {
  font-family: "Roboto";
  font-size: 16px;
}

.page {
  background: url(../img/pattern.jpg) 0 0 / cover no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
}
.page__main {
}
.main {
}
.page__container {
  background-color: #dadada;
  border-radius: 10px;
  opacity: 0.85;
  padding-bottom: 25px;
}
.page__title {
  padding-top: 35px;
  text-align: center;
}
.page__block {
}
.block-task {
}
.block-task__list {
  margin: 0 auto;
  padding: 0px 10px;
  /* max-width:700px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
/* ============================ */
.block-application__body {
  display: flex;
  align-items: start;
  gap: 40px;
}
.block-application__body ol {
  border: 1px solid #000;
  width: 40px;
  padding-left: 2px;
}
.block-application__body li {
  padding: 3px;
}
.green-bg {
  background: green;
}

.red-bg {
  background: red;
}
.red-border {
  border-color: red;
}

/* ========================== */
.block-application__table-color {
  border: 1px solid #000;
  border-spacing: 2px;
}
.block-application__table-color td {
  width: 20px;
  padding: 4px;
  text-align: center;
}

.table-border {
  border: 1px solid #ff0000;
}

/* ========================== */
.items-cards {
  display: flex;
}
.items-cards__item {
  cursor: pointer;
  padding: 10px 10px;
  flex: 0 0 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid #bbbaba;
}
.items-cards__item_border {
  border: 1.5px solid rgb(0, 230, 0);
}
.items-cards__label {
  align-self: start;
  border-radius: 20px;
  padding: 3px 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #000;
}
.items-cards__label:not(:last-child) {
  margin-bottom: 10px;
}
.items-cards__image {
  position: relative;
  min-height: 150px;
}
.items-cards__image img {
  max-width: 100%;
  transition: all 0.3s;
}
.items-cards__image img:hover {
  transform: scale(1.03);
}
.items-cards__title {
  font-size: 14px;
  flex-grow: 1;
}
.items-cards__title:not(:last-child) {
  margin-bottom: 10px;
}
.items-cards__price-body {
  display: flex;
  column-gap: 5px;
}
.items-cards__price,
.items-cards__currency {
  font-size: 18px;
  color: #ff0000;
}
/* ========================== */
.block-task__list {
}
.block-task__item {
  padding: 15px 25px;
  background-color: #a5c2b2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .block-task__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.block-task__item {
  margin-bottom: 30px;
}

.block-task__title {
  align-self: start;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}
.block-task__title::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-color: #000;
}
.block-task__text {
  margin-bottom: 20px;
  flex-grow: 1;
}
.block-task__text_margin {
  margin-bottom: 10px;
}
.block-task__image {
  margin-bottom: 10px;
}
.block-task__image img {
  max-width: 100%;
}

.block-task__link {
  font-weight: 700;
  letter-spacing: 2px;
  align-self: start;
  padding: 12px 30px;
  border-radius: 10px;
  color: #000;
  background-color: #f09e23;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.block-task__link:hover {
  color: #fff;
  background-color: #437543;
}
.block-task__button {
  margin-top: 40px;
}
.block-task__table {
  text-align: center;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.button-hello {
}
.button-hello {
  font-weight: 700;
  letter-spacing: 2px;
  align-self: start;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  background-color: #cfcecb;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-hello:hover {
  color: #fff;
  background-color: #4e58af;
}
.button-hello:not(:last-child) {
  margin-bottom: 10px;
}
/*=============================================== */
.wrapper {
}
.main {
  padding: 0px 30px 0px 30px;
}
.main__container {
}
.main__application-block {
}

.block-application {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.block-application__title {
  font-size: 20px;
}
.block-application__score-inputs {
  display: flex;
  gap: 10px;
}
.block-application__score-inputs:not(:last-child) {
  margin-bottom: 10px;
}
.block-application__form {
  padding: 15px;
  border: 1px solid #000;
}

.block-application__items {
}
.block-application__items_flex {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.block-application__items_dynamic * {
  margin-bottom: 10px;
  font-weight: 600;
}
.block-application__item {
}
.block-application__item:not(:last-child) {
  margin-bottom: 10px;
}
.block-application__label {
}
.block-application__input,
.block-application__input-score {
  padding: 5px;
}
.block-application__input-score:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
}
.block-application__button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
}

.block-application__button_dynamic:not(:last-child) {
  margin-bottom: 10px;
}

.block-application__line {
  display: block;
  border-bottom: 1px solid #000;
  padding-top: 10px;
  max-width: 100%;
}
.block-application__line:not(:last-child) {
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  gap: 20px;
}
.buttons:not(:last-child) {
  margin-bottom: 10px;
}
#btnCalc:not(:last-child) {
  margin-bottom: 10px;
}
/* ====== */
.block-application__table {
}

.block-application__table td {
  width: 20px;
  padding: 3px;
  text-align: center;
}

/* ======== */
.block-application__result {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.block-application__img {
  position: absolute;
}
/* ======== */
.tankItem {
  position: absolute;
  font-size: 25px;
  width: 120px;
  height: 120px;
}
.tank-app {
  padding: 0px 20px;
  position: fixed;
  width: 80vw;
  height: 100vh;
}
/* ==================== */
.result-items {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
